---
layout: doc
title: Quay.io Documentation
sublayout: index
---

<h3 class="page-title-small solution">Solutions</h3>
<ul>
{% for page in site.pages %}
{% if page.sublayout == 'solution' and page.index != true %}
  <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>

<h3 class="page-title-small guide">Guides</h3>
<ul>
{% for page in site.pages %}
{% if page.sublayout == 'guide' and page.index != true  %}
  <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>

<h3 class="page-title-small issue">Troubleshooting</h3>
<ul>
{% for page in site.pages %}
{% if page.sublayout == 'issue' and page.frontpage  and page.index != true %}
  <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>

<h3 class="page-title-small glossary">Glossary</h3>
<ul>
{% for page in site.pages %}
{% if page.sublayout == 'glossary' and page.index != true %}
  <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
