---
layout: doc
title: Quay.io Documentation
---

<h3>Solutions</h3>
<ul>
<li><a href="getting-started.html">Getting Started</a></li>
</ul>

<h3>Guides</h3>
<ul>
{% for page in site.pages %}
{% if page.sublayout == 'guide' %}
  <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>

<h3>Troubleshooting</h3>
<ul>
{% for page in site.pages %}
{% if page.sublayout == 'issue' and page.frontpage %}
  <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>

<h3>Glossary</h3>
<ul>
{% for page in site.pages %}
{% if page.sublayout == 'glossary' %}
  <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
