---
layout: doc
title: Quay.io Documentation
---

<h3>Tutorials</h3>
<a href="getting-started.html">Getting Started</a>

<h3>Guides</h3>
<ul>
{% for page in site.pages %}
{% if page.sublayout == 'solution' %}
  <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>

<h3>Glossary</h3>
<ul>
{% for page in site.pages %}
{% if page.sublayout == 'glossary' %}
  <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
